
<div class="container-fluid">
  <button class="btn btn-warning btn-block mt-3 ms-3" routerLink="/users-list">Back</button>
    <div *ngIf="currentUser.dni" class="row justify-content-center mt-5">
      <div class="col-md-4">
        <h2 class="">Delete User</h2>
        <div *ngIf="message!=''"  class="alert alert-success" role="alert">
          <strong>{{ message }}</strong>
        </div>
        <form>
          <div class="form-group">
            <label for="dni">Dni</label>
            <input type="text" class="form-control" disabled id="dni" [(ngModel)]="currentUser.dni" name="dni" />
          </div>
          <div class="form-group">
            <label for="full_name">Full Name</label>
            <input type="text" class="form-control" disabled id="full_name" [(ngModel)]="currentUser.full_name" name="full_name" />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" disabled id="age" [(ngModel)]="currentUser.age" name="age" />
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" disabled id="description" [(ngModel)]="currentUser.phone" name="phone" />
          </div>
          <div class="form-group">

            <button class="btn btn-danger btn-block mt-3 ms-3" (click)="deleteUser()" type="submit">delete</button>
          </div>
        </form>
        <div *ngIf="!currentUser.dni">
          <br />
          <p>Cannot access this User...</p>
        </div>
      </div>
    </div>
  </div>
